@{
    ViewData["Title"] = "Home Page";
}


<form method="post" asp-action="DrawCards">
Click to draw cards

    <input type="submit" />
</form>

<form method="post" asp-action="ShuffleCards">
Click to shuffle the deck

    <input type="submit" />
</form>